.header{
    box-shadow: 0 4px 6px -6px #222;
    position: relative;
    &__img{
        width: 100%;
        height: 280px;
        object-fit: none;
    }
    &__title{
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
    }
}